.footer {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 2px solid #b8b8b876;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-contacts a {
  color: var(--text-main);
  font-size: 16px;
  border-bottom: 2px solid #b8b8b800;
  padding-bottom: 5px;
  margin-bottom: -7px;
  width: max-content;
  transition: 0.3s;
}
.footer-contacts a:hover {
  border-bottom: 2px solid #b8b8b8;
}
