/* Здесь начальная нормализация стилей, чтобы во всех браузерах отображалось одинаково
Так как браузеры имеют собственные встроенные стили
*/
/* Обращаемся ко всем тегам через * */
* {
  /* Размер блоков учитывает ширину границы */
  box-sizing: border-box;
  /* Убираем отступы */
  margin: 0;
  padding: 0;
  /* Задаем всем элементам один шрифт, чтобы не повторяться */
  font-family: Poppins;
}
/* Ширина и высота всей страницы 100% от ширины и высоты устройства */
html {
  width: 100%;
  height: 100%;
}
body {
  /* Задаем фон */
  background-color: var(--back-main);
  /* С помощью следующих 3х свойств делаем так, чтобы header main footer 
  растягивались по всей высоте сайта
  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Та же история, что и у html */
  width: 100%;
  height: 100%;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
/* Задаем тегу а отсутствие подчеркивания */
a {
  text-decoration: none;
  color: inherit;
}
/* Для текстовых тегов указываем стили, которые дублируются */
h1,
h2,
h3,
h4,
p,
a {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--text-main);
}
/* Настраиваем отдельно размеры */
h1 {
  font-size: 32px;
}
h2 {
  font-size: 20px;
}
p {
  font-size: 18px;
}
/* Кнопке также задаем высоту, фон, закругление, убираем границу  */
button {
  background: var(--gradient-tech);
  height: 40px;
  border-radius: 83px;
  border: none;
  font-size: 16px;
  color: var(--text-main);
  padding: 0 40px;
  /* Свойство, чтобы менялся курсор на указатель */
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  transform: scale(1.1);
}
button:active {
  transform: scale(1);
  transition: 0.1s;
}
ul,
li {
  /* Убираем стиль оформления списка, чтобы точек не было */
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;

  /* Расстояние между секция в main */
  gap: 100px;
  /* Отступ всерху и снизу */
  padding-top: 100px;
  padding-bottom: 100px;
}
hr {
  /* Настраиваем линию */
  width: 60%;
  background: var(--gradient-tech);
  height: 2px;
  border: none;
}

.container {
  /* Дополнительный класс для обозначения отступов слева и справа от краев страницы */
  padding-left: calc((100vw - 1180px) / 2);
  padding-right: calc((100vw - 1180px) / 2);
}
@media (max-width: 1024px) {
  .container {
    /* Дополнительный класс для обозначения отступов слева и справа от краев страницы */
    padding-left: 20px;
    padding-right: 20px;
  }
}
