.projects {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.projects__h1 {
}
.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 0 100px;
}
.project-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  justify-content: space-between;
  width: 400px;
  height: 600px;
  border-radius: 50px 0px;
  transition: 0.2s;
}
.project-item__image {
  width: 100%;
}
.project-item:hover {
  box-shadow: 0px 0px 12px 0px #fff;
}
